.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings
tags

# Do not commit docs, well ok
*.md

# Ignore Runtime files
target
plugin.xml
grails-*.zip
grails-*.zip.sha1

# Mac OS files
.DS_Store

# Special files
web-app

# backup files
*~

# vim
*.swp
.vimtags
